<p id="notice"><%= notice %></p>

<p>
  <strong>Group:</strong>
  <%= @member.Group %>
</p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Name kana:</strong>
  <%= @member.name_kana %>
</p>

<p>
  <strong>Mail address:</strong>
  <%= @member.mail_address %>
</p>

<p>
  <strong>Join date:</strong>
  <%= @member.join_date %>
</p>

<p>
  <strong>Area:</strong>
  <%= @member.area %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', members_path %>
